.art {
  margin-top: 10rem;
  position: relative;
  width: 90%;

  .text1 {
    .float-text();
    top: 5rem;
    left: 2%;
    color: @text3;
    font-size: 2.4rem;

    @media @mobile-small {
      font-size: 2rem;
    }
  }

  .fade1 {
    .fade(fadetext1);
  }

  @keyframes fadetext1 {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  .text2 {
    .float-text();
    top: 12rem;
    right: -2%;
    color: @sec3;
    font-size: 2.6rem;

    @media @mobile-small {
      font-size: 2.2rem;
    }
  }

  .fade2 {
    .fade(fadetext2);
  }

  @keyframes fadetext2 {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    45% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  .text3 {
    .float-text();
    bottom: 7%;
    left: 22%;
    color: @text4;
    font-size: 6rem;
    font-weight: 800;

    @media @mobile-small {
      font-size: 5rem;
    }
  }

  .fade3 {
    .fade(fadetext3);
  }

  @keyframes fadetext3 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    55% {
      opacity: 1;
    }
    95% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .image {
    max-width: 100%;
  }
}
