.login {
  button {
    background-color: @sec2;
    // border: 3px solid @sec2;
    border: none;
    padding: 3rem;
    color: @text4;
    font-family: @main-font;
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
      color: @sec2;
      background-color: @sec1;
    }
  }
}
