.image {
  margin-top: 10rem;
  max-width: 320px;
}

.team {
  background-color: @bkgd1;
  padding: 4%;
}

.content {
  h2 {
    background-color: @bkgd1;
    padding: 4%;
  }

  p {
    padding: 4%;
  }
}

.profile {
  padding: 4%;
  border-bottom: 1px dashed @sec3;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media @tablet-portrait {
    flex-direction: row;
    align-items: space-between;
  }

  img {
    max-width: 200px;
    padding-bottom: 4%;

    @media @tablet-portrait {
      padding-right: 4%;
    }
  }
}

ul {
  list-style: disc outside;
  padding: 4%;
  margin-left: 6%;
}

.fas,
.fab {
  color: @icon-color;
  padding: 3%;
}
