.image {
  margin-top: 10rem;
}

.team {
  background-color: @bkgd1;
  padding: 4%;
}

.content {
  h2 {
    background-color: @bkgd1;
    padding: 4%;
  }

  p {
    padding: 4%;
  }
}

.profile {
  padding: 4%;
  border-bottom: 1px dashed @sec3;
}

ul {
  list-style: disc outside;
  padding: 4%;
  margin-left: 6%;
}

.fas,
.fab {
  color: @icon-color;
  padding: 3%;
}
