.main,
.profiles {
  margin-top: 8.3rem;
}

.team {
  background-color: @bkgd1;
  padding: 4%;
}

.content,
.profile {
  padding: 4%;
  border-bottom: 1px dashed @sec3;
}

.fas,
.fab {
  color: @icon-color;
  padding: 3%;
}

ul {
  list-style: disc outside;
  margin-left: 7%;
}
