.float-text() {
  position: absolute;
  font-family: @main-font;
  font-weight: bold;
}

.fade(@name, @anim-time) {
  animation-name: @name;
  animation-duration: @anim-time;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
