.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: @nav-bkgd-color;
  border: 1px solid green;
}

h1 {
  color: @nav-font-color;
}

a {
  color: @nav-font-color;

  &:visited {
    color: @nav-font-color;
  }
}
