.nav {
  position: fixed;
  padding-top: 1.5rem;
  top: 0;
  width: 100%;
  height: 9rem;
  background-color: @nav-bkgd-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-top: 0.6rem;
}

h1 {
  color: @nav-font-color;
}

a {
  color: @nav-font-color;
  width: auto;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;

  &:hover {
    color: @text1;
  }

  &:visited {
    color: @nav-font-color;
  }
}
