// Fonts
@main-font: "SF Display", sans-serif;
@header-font: "SF Display", sans-serif;

// Text Colors
@text-gray: #4c495b;
@text-ltgray: #9eabbe;
@text-ltblue: #a1bbd0;
@text-white: #ffffff;

// Background Colors
@bkgd-tan: #f4e7d7;
@bkgd-white: #ffffff;

// Secondary Colors
@sc-ltblue: #d9e1ff;
@sc-blue: #96a7e6;
@sc-brown: #b2901b;
@sc-tan: #d1a827;

// Color Assignments
@nav-bkgd-color: @sc-blue;
@main-font-color: @text-gray;
@header-font-color: @sc-brown;
@icon-color: @text-gray;
@nav-font-color: @text-white;

// Mobile
@mobile-small: ~"(max-width: 350px)";
@tablet-portrait: ~"(min-width: 500px)";
@tablet-landscape: ~"(min-width: 800px)";
@desktop: ~"(min-width: 1000px)";

@anim1-time: 5s;
@anim2-time: 12s;
