// Fonts
@main-font: "Roboto", sans-serif;
@header-font: "Roboto", sans-serif;

// Color Definitions
@whitesmoke: #f5f5f5;

// Color Assignments
@nav-bkgd-color: #000033;
@main-font-color: gray;
@header-font-color: #000033;
@nav-font-color: @whitesmoke;
